Django>=5.2,<5.3
boto3==1.43.93
dj_database_url==3.1.2
django-cleanup==9.0.0
django-storages==1.14.6
djangorestframework==3.18.1
music-metadata-territories==24.12
mutagen==1.48.1
Markdown==3.7
numpy==2.4.6
Pillow==12.3.0
psycopg2-binary==2.9.13
soundfile==0.13.1
waitress==3.0.2
whitenoise==6.12.0
python-dotenv==1.2.3
