{% extends "admin/base_site.html" %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  <p>Velg arbeidsområdet du vil åpne.</p>
  {% for section in sections %}
    <div class="module">
      <table>
        <caption>{{ section.title }}</caption>
        <tbody>
          {% for link in section.links %}
            <tr>
              <th scope="row"><a href="{{ link.url }}">{{ link.label }}</a></th>
              <td>{{ link.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
{% endblock %}
