<details class="column-filter{% if is_active %} active{% endif %}"{% if request.GET.column_filter == name %} open{% endif %}>
  <summary aria-label="{{ label }}" title="{{ label }}">Filter</summary>
  <form method="get" class="column-filter-menu" data-column-filter-form>
    {% for key, item in params %}<input type="hidden" name="{{ key }}" value="{{ item }}">{% endfor %}
    <fieldset>
      <legend>{{ label }}</legend>
      {% for option in options %}<label class="column-filter-option"><input type="checkbox" name="{{ name }}" value="{{ option.value }}"{% if option.selected %} checked{% endif %}><span>{{ option.label }}</span></label>{% empty %}<span class="filter-empty">Ingen tilgjengelige valg</span>{% endfor %}
    </fieldset>
  </form>
</details>
