{% extends "workbench/base.html" %}
{% block subtitle %}{% if introduction %}<p>{{ introduction }}</p>{% endif %}{% endblock %}
{% block content %}
<form method="post" class="panel form-panel" novalidate>
  {% csrf_token %}
  {% if return_url %}<input type="hidden" name="return" value="{{ return_url }}">{% endif %}
  {{ form.non_field_errors }}
  {% for field in form %}
    {% include "workbench/_form_field.html" with field=field %}
  {% endfor %}
  {% include "workbench/rights_registration_preview.html" %}
  <div class="form-actions">
    <button class="button primary" type="submit">{{ submit_label|default:"Lagre" }}</button>
    <a class="button" href="{{ cancel_url }}">Avbryt</a>
  </div>
</form>
{% endblock %}
